Package: com.michaelmelita1.betterpad12
Version: 0.0.2
Architecture: iphoneos-arm
Maintainer: Michael Melita
Depends: mobilesubstrate, firmware (<= 12.5), cy+model.ipad (= 4.1) | cy+model.ipad (= 4.2) | cy+model.ipad (= 4.3) | cy+model.ipad (= 4.4)| cy+model.ipad (= 4.5) | cy+model.ipad (= 4.6)
Conflicts: com.michaelmelita1.iris12, com.michaelmelita1.medusa12, com.michaelmelita1.campad12
Section: Tweaks
Description: Enhance your iOS 12 iPad
Author: Michael Melita
Depiction: https://michaelmelita1.github.io/depictions/?p=com.michaelmelita1.betterpad12
Name: BetterPad12
Sileodepiction: https://michaelmelita1.github.io/sileodepictions/com.michaelmelita1.betterpad12/info.json
